@model IEnumerable<Vlan_dim>

@{
    ViewData["Title"] = "All Users";
}

<h1>Result</h1>

@* <partial name="_SearchPartial"></partial> *@
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.VlanAlias)
            </th>
                        <th>
                @Html.DisplayNameFor(model => model.SSID)
            </th>
                        <th>
                @Html.DisplayNameFor(model => model.VlanName)
            </th>
                        <th>
                @Html.DisplayNameFor(model => model.AccessibleByUser)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <partial name="_vlanPartial" model="@item" />
        }
    </tbody>
</table>
